@using Derby.Models
@using Microsoft.Ajax.Utilities
@model Derby.ViewModels.CompetitionViewModel

@{
    ViewBag.Title = "Details";
}

<h3><i class="fa fa-trophy"></i>  - @Html.DisplayFor(model => model.Title)</h3>


<p>
    @Html.ActionLink("Edit", "Edit", "Competition", new { id = Model.Id }, new { @class = "btn btn-xs btn-primary" }) |
    @Html.ActionLink("Back to Pack", "Details", "Pack", new { id = Model.PackId }, new { @class = "btn btn-xs btn-default" })
</p>

<div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-group"></i> Scouts</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        @{
                            bool registrationCompleted = true;
                        }
                        <table id="dashboard-scouts" class="table table-hover tablesorter">
                            <thead>
                                <tr>
                                    <th class="header">Name</th>
                                    <th class="header">Registered</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var scout in Model.Scouts)
                                {
                                    var _currentRacer = scout;
                                    <tr>
                                        <td>@_currentRacer.Name</td>
                                        @{
                                            var _racer = Model.Racers.FirstOrDefault(x => x.Scout.Id == _currentRacer.Id);
                                        }
                                        @if (_racer != null)
                                        {
                                            <td><i class="success glyphicon glyphicon-ok"></i></td>
                                        }
                                        else
                                        {
                                            <td><a href="@Url.Action("Create", "Racer", new { competitionId = Model.Id, scoutId = _currentRacer.Id })" class="btn btn-xs btn-success" title="Races"><i class="fa fa-user"></i>&nbsp;Register Racer</a></td>
                                            
                                            registrationCompleted = false;
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
                @*<div class="text-right">
                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                </div>*@
            </div>            
            @if (registrationCompleted)
            {
                <div class="alert alert-dismissable alert-success">
                    <h4>Registration Completed!</h4>
                    <p>
                        @Html.ActionLink("Generate Races", "Generate", "Race", new { competitionId = Model.Id }, new { @class = "btn btn-xs btn-primary" })
                    </p>
                </div>
            }
        </div>
        <div class="col-md-5">
            @foreach (var den in Model.Dens)
            {
                int racerCount = Model.Racers.Count(x => x.Den.Id == den.Id);
                string panelStatus = "panel-info";
                bool denInError = false;
                if (racerCount == 0)
                {
                    panelStatus = "panel-danger";
                    denInError = true;
                }
                
                <div class="panel @panelStatus">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                @if (denInError)
                                {
                                    <i class="fa fa-exclamation-triangle fa-4x"></i>
                                }
                                else
                                {
                                    if (den.LogoPath != "")
                                    {
                                        <img src="@den.LogoPath" class="denlogo-small" />
                                    }
                                }
                                
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-heading">@den.Name</p>
                                <p class="announcement-text">Racers - @racerCount</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel-footer announcement-bottom">
                    @if (racerCount == 0)
                    {
                        <div class="row">
                            <div class="col-xs-6">
                                Assign Scouts
                            </div>
                            <div class="col-xs-6 text-right">
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    }
                            
                    @{
                        var races = Model.Races.ToList();
                    }
                    @if (!races.Any() && racerCount != 0)
                    {
                        <div class="row">
                            <a href="@Url.Action("Create", "Race", new {competitionId = Model.Id, denId = den.Id})">
                                <div class="col-xs-6">
                                    Generate Heats for Den
                                </div>
                                <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <a href="@Url.Action("Generate", "Race", new {competitionId = Model.Id, denId = den.Id})">
                                <div class="col-xs-6">
                                    Generate Heats for Den
                                </div>
                                <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </div>
                            </a>
                        </div>
                    }
                    </div>
                    
                </div>
            }
        </div>
    </div>
</div>