@using Microsoft.Ajax.Utilities
@model Derby.ViewModels.CompetitionViewModel

@{
    ViewBag.Title = "Details";
}

<h3><i class="fa fa-trophy"></i>  - @Html.DisplayFor(model => model.Title)</h3>


<p>
    @Html.ActionLink("Edit", "Edit", "Competition", new { id = Model.Id }, new { @class = "btn btn-xs btn-primary" }) |
    @Html.ActionLink("Back to Pack", "Details", "Pack", new { id = Model.PackId }, new { @class = "btn btn-xs btn-default" })
</p>

<div>
    <div class="row">
        <div class="col-md-5">
            gdsg
        </div>
        <div class="col-md-5">
            @foreach (var den in Model.Dens)
            {
                int racerCount = Model.Racers.Count(x => x.Den.Id == den.Id);
                string panelStatus = "panel-info";
                bool denInError = false;
                if (racerCount == 0)
                {
                    panelStatus = "panel-danger";
                    denInError = true;
                }
                
                <div class="panel @panelStatus">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                @if (denInError)
                                {
                                    <i class="fa fa-exclamation-triangle fa-4x"></i>
                                }
                                else
                                {
                                    <img src="@den.LogoPath" class="denlogo-small" />
                                }
                                
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-heading">@den.Name</p>
                                <p class="announcement-text">Racers - @racerCount</p>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer announcement-bottom">
                            @if (racerCount == 0)
                            {
                                <div class="row">
                                    <a>
                                        <div class="col-xs-6">
                                            Assign Scouts
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>