@using Derby.Infrastructure
@using Derby.Models
@model Derby.ViewModels.CompetitionViewModel

@{
    ViewBag.Title = "Leaders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Leader Board</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <table id="dashboard-scouts" class="table table-hover tablesorter table-condensed ">
        <thead>
            <tr>
                <th class="header">Name</th>
                <th class="header">Car #</th>
                <th class="header">Points</th>
                <th class="header">Den</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var leader in Model.Leaderboard.OrderBy(y => y.DenId).ThenByDescending(x => x.Points))
            {
                <tr>
                    <td>@leader.Name</td>
                    <td>@leader.CarNumber</td>
                    <td>@leader.Points</td>
                    <td><img src="@leader.DenLogo" class="denlogo-xxsmall" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Back to Competition", "Details", "Competition", new { ID = Model.Id }, new { @class = "btn btn-xs btn-default" })
</p>