@model IEnumerable<Derby.ViewModels.RaceViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Competition.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Den.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Competition.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Den.Name)
        </td>
        <td>@Html.ActionLink("Create Heat", "Create", "Heat", new { raceId = item.Id }, new {@class = "btn btn-xs btn-success"})</td>
        <td>            
            <a href="@Url.Action("Details", "Heat", new { id = item.Id })" class="btn btn-xs btn-default" title="Details"><i class="fa fa-info"></i>&nbsp; Details</a> |
            <a href="@Url.Action("Edit", "Heat", new { id = item.Id })" class="btn btn-xs btn-primary" title="Edit"><i class="fa fa-pencil"></i>&nbsp; Edit</a>&nbsp; | &nbsp;
            <a href="@Url.Action("Delete", "Heat", new { id = item.Id })" class="btn btn-xs btn-danger" title="Delete"><i class="fa fa-trash-o"></i>&nbsp; Delete</a>
        </td>
    </tr>
}

</table>
