@model Derby.ViewModels.LeaderViewModel

<tr>
    <td>
        @Html.CheckBoxFor(model => model.Selected)
        @Html.HiddenFor(model => model.Id)
    </td>
    <td>@Html.DisplayFor(model => model.Name)</td>
    <td>@Html.DisplayFor(model => model.CarNumber)</td>
    <td>
        @Model.Points
    </td>
</tr>