@model Derby.Models.Scout
    
@{
    ViewBag.Title = "Create";
}

<form id="scoutAddForm" action="@Url.Action("AddScout", "Scout")" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="modal-header">
            <h4 class="modal-title">Add Scout</h4>
        </div>

        <div class="modal-body">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(model => model.PackId)
                @Html.ValidationMessageFor(model => model.PackId)
            </div>
        </div>
        <div class="modal-footer form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" id="scoutAddPartial" />
            </div>
        </div>
    </div>
</form>