@model Derby.Models.Scout

@{
    ViewBag.Title = "Inactivate";
}

<h2>Inactivate</h2>

<h3>Are you sure you want to inactivate this scout?</h3>
<div>
    <h4>Scout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-success" />
            </div>
        </div>
    }
</div>
<br /><br /><br /><br />
<div>
    @Html.ActionLink("Back to Scout List", "Index", "Scout", new { packId = Model.PackId }, new { @class = "btn btn-xs btn-default" })
</div>
