@model IEnumerable<Derby.Models.Scout>

@{
    ViewBag.Title = "Scouts";
}

<h3>Scouts</h3>

<p>
    @Html.ActionLink("Create New", "Create", "Scout", new { }, new { @class = "btn btn-xs btn-success" }) &nbsp;|&nbsp;
    @Html.ActionLink("Back to Pack", "details", "Pack", new { id = Convert.ToInt32(Url.RequestContext.RouteData.Values["packId"]) }, new { @class = "btn btn-xs btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (!item.Inactive) { 
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Name)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDateTime)
        </td>
        <td>
            @if (!item.Inactive)
            {
                <a href="@Url.Action("Details", "Scout", new { id = item.Id })" class="btn btn-xs btn-default" title="Details"><i class="fa fa-info"></i>&nbsp; Details</a>
                @Html.ActionLink("Details", "Details", new { id=item.Id }) @:|
            }
            
            @if (!item.Inactive)
            {
            @Html.ActionLink("Inactivate", "Inactivate", new { id = item.Id })
            }
            else
            {
                @Html.ActionLink("Activate", "Activate", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
