@using Derby.Infrastructure
@using Derby.Models
@model Derby.ViewModels.PackViewModel

@{
    ViewBag.Title = "Details";
}

<h3>Pack: @Html.DisplayFor(model => model.Name) - @Html.DisplayFor(model => model.Region)</h3>

<div>
    <hr />
    <div class="row">
        <div class="col-md-5">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Competitions)
                    </th>
                    <th colspan="2">
                        @Html.ActionLink("Create New Competition", "create", "Competition", new { packId = Model.Id }, new { @class = "btn btn-xs btn-info" })
                    </th>
                </tr>
                <tr>
                    <th>
                        Event Date
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Races
                    </th>
                </tr>
                @foreach (var comp in Model.Competitions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => comp.EventDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => comp.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => comp.Title)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Competition", new { id = comp.Id }, new { @class = "btn btn-xs btn-default" })

                            @if (Model.Membership.AccessLevel == OwnershipType.Owner)
                            {
                                @:&nbsp; | &nbsp;
                                @Html.ActionLink("Delete", "Delete", "Competition", new { id = comp.Id }, new { @class = "btn btn-xs btn-danger" })
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="col-sm-3">
            <a href="/den/create"></a>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Dens)
                    </th>
                    <th>
                        @Html.ActionLink("Add Den", "Create", "Den", new { packId = Model.Id }, new { @class = "btn btn-xs btn-success" })
                    </th>
                </tr>

                @foreach (var den in Model.Dens)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => den.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Den" , new { id = den.Id }, new { @class = "btn btn-xs btn-primary" })
                            @if (Model.Membership.AccessLevel == OwnershipType.Owner)
                            {
                                @:&nbsp; | &nbsp;
                                @Html.ActionLink("Delete", "Delete", "Den", new { id = den.Id }, new { @class = "btn btn-xs btn-danger" })
                            }
                            
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<hr/>
<div>
    @Html.ActionLink("Edit", "edit", new { id = Model.Id }, new { @class = "btn btn-xs btn-primary" }) |
    @Html.ActionLink("Back to List", "index", new { }, new { @class = "btn btn-xs btn-default" })
</div>