@using Derby.Infrastructure
@using Derby.Models
@model Derby.ViewModels.PackViewModel

@{
    ViewBag.Title = "Details";
}

<h3>Pack: @Html.DisplayFor(model => model.Name) - <small>@Html.DisplayFor(model => model.Region)</small></h3>
<p>
    @if (Model.Membership.AccessLevel == OwnershipType.Owner || Model.Membership.AccessLevel == OwnershipType.Contributor)
    {
        <a href="@Url.Action("Index", "Scout", new { packId = Model.Id })" class="btn btn-xs btn-primary" title="Delete"><i class="fa fa-group"></i>&nbsp; Scouts</a>
        <a href="@Url.Action("create", "Competition", new { packId = Model.Id })" class="btn btn-xs btn-info" title="Delete"><i class="fa fa-trophy"></i>&nbsp; New Competition</a>
    }
</p>
<div>
    <div class="row">
        <div class="col-md-5">

            <table class="table">
                <tr>
                    <th colspan="4">
                        @Html.DisplayNameFor(model => model.Competitions)
                    </th>
                </tr>
                <tr>
                    <th>
                        Event Date
                    </th>
                    <th>
                        Title
                    </th>

                    <th colspan="2">&nbsp;</th>
                </tr>
                @foreach (var comp in Model.Competitions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => comp.EventDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => comp.Title)
                        </td>

                        <td>
                            <a href="@Url.Action("Details", "Competition", new { id = comp.Id })" class="btn btn-xs btn-default" title="Edit"><i class="fa fa-tachometer"></i> Dashboard</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Competition", new { id = comp.Id })" class="btn btn-xs btn-primary" title="Edit"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="col-sm-1">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Dens)
                    </th>
                    <th>
                        @Html.ActionLink("Add Den", "Create", "Den", new { packId = Model.Id }, new { @class = "btn btn-xs btn-success" })
                    </th>
                    <th></th>
                </tr>

                @foreach (var den in Model.Dens)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => den.Name)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Den", new { id = den.Id })" class="btn btn-xs btn-primary" title="Edit"><i class="fa fa-pencil"></i></a>

                            @if (Model.Membership.AccessLevel == OwnershipType.Owner)
                            {
                                <a href="@Url.Action("Delete", "Den", new { id = den.Id })" class="btn btn-xs btn-danger" title="Delete"><i class="fa fa-trash-o"></i></a>
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<hr/>
<div>
    @Html.ActionLink("Edit", "edit", new { id = Model.Id }, new { @class = "btn btn-xs btn-primary" }) |
    @Html.ActionLink("Back to List", "index", new { }, new { @class = "btn btn-xs btn-default" })
</div>