@model IEnumerable<Derby.Models.Pack>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th></th>
    </tr>

@foreach (var pack in Model) {
                @if (pack.Dens != null && pack.Dens.Any()) 
            { 
                foreach (var den in pack.Dens)
                {
                <div>@Html.ActionLink(den.Name, "Edit", new { id = den.Id }) - @pack.Scouts.Count(x => x.DenId == den.Id) scouts</div>
                }
                }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => pack.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => pack.Region)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = pack.Id }) |
            @Html.ActionLink("Details", "Details", new { id = pack.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = pack.Id })
        </td>
    </tr>
}

</table>
