@using Derby.Infrastructure
@model IEnumerable<Derby.ViewModels.PackViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Registered Packs</h2>

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Register a Pack", "Create", "Pack", new { }, new { @class = "btn btn-xs btn-success" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name) - @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dens)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scouts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competitions)
        </th>
        <th></th>
    </tr>

@foreach (var pack in Model) 
{
    <tr>
        <td>
            @Html.ActionLink(pack.Name + " - " + pack.Region, "Details", "Pack", new {id = pack.Id}, new { @title = "Pack Details" })
        </td>
        <td>
            @pack.Dens.Count()
        </td>
        <td>
            @pack.Scouts.Count()
            @*@Html.ActionLink(pack.Scouts.Count().ToString(), "Index", "Scout", new { packId = pack.Id }, new { }) *@
        </td>
        <td>
            @Html.ActionLink(pack.Competitions.Count().ToString(), "Index", "Competition", new { packId = pack.Id }, new { })
        </td>
        <td>
            @if (pack.Membership != null)
            {
                <a href="@Url.Action("Details", "Pack", new { packId = pack.Id })" class="btn btn-xs btn-default" title="Delete"><i class="icon-info"></i>&nbsp;Details</a>

                if (pack.Membership.AccessLevel == OwnershipType.Owner || pack.Membership.AccessLevel == OwnershipType.Contributor)
                {
                    @:&nbsp;|&nbsp;
                    <a href="@Url.Action("Index", "Scout", new { packId = pack.Id })" class="btn btn-xs btn-primary" title="Delete"><i class="icon-group"></i>&nbsp;Scouts</a>
                    @:&nbsp;|&nbsp;
                    <a href="@Url.Action("create", "Competition", new { packId = pack.Id })" class="btn btn-xs btn-info" title="Delete"><i class="icon-trophy"></i>&nbsp;New Competition</a>
                }
            }
        </td>
    </tr>
}

</table>
