@model Derby.Models.Pack

@{
    ViewBag.Title = "Info";
}

<h2>Pack Details</h2>

<div>
    <div>
        @Html.ActionLink("Back to List", "index", new { }, new { @class = "btn btn-xs btn-default" })
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-5">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Region)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Region)
                </dd>

            </dl>
        </div>
        <div class="col-sm-5">
            <a href="/den/create"></a>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Dens)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Scouts)
                    </th>
                </tr>

                @foreach (var den in Model.Dens)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => den.Name)
                        </td>
                        <td>
                            @Model.Scouts.Count(x => x.DenId == den.Id)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
