@model Derby.ViewModels.PackViewModel

@{
    ViewBag.Title = "Info";
}

<h2>Pack Details</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-5">
            <div class="row">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Region)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Region)
                    </dd>
                    <dt>
                        Active Scouts
                    </dt>
                    <dd>
                        @Model.Scouts.Count()
                    </dd>
                    <dt>

                    </dt>
                    <dd>

                    </dd>
                </dl>
            </div>
            <div class="row">
                <a class="well well-sm">
                    Current Competition
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <h3>@Html.DisplayNameFor(model => model.Dens)</h3>

            <table class="panel-body table">

                @foreach (var den in Model.Dens)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => den.Name)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
