@model IEnumerable<Derby.ViewModels.SentInvitationViewModel>

@if (!Model.Any())
{
    @:<br/><h4>No invites have been sent yet.&nbsp;</h4>
}
else
{
    <div class="fixed-table-loading" style="top: 37px; display: block;">Loading, please wait…</div>
    <table id="membership-invited" class="table table-hover tablesorter">
        <thead>
            <tr>
                <th class="header">Created Date</th>
                <th class="header">Expiration Date</th>
                <th class="header">Invited By</th>
                <th class="header">Invited Email</th>
                <th class="header">Pack</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.Pack.Id))
            {
                var status = "";
                if (item.CreatedDate.AddDays(item.ExpiryOffset) <= DateTime.Now)
                {
                    status = "active invite-expired";
                }

                <tr class="@status">
                <td>@item.CreatedDate</td>
                <td>@item.CreatedDate.AddDays(item.ExpiryOffset)</td>
                <td>@item.InvitedBy.Email</td>
                <td>@item.InvitedEmail</td>
                <td>@item.Pack.Name</td>
            </tr>
            }
        </tbody>
    </table>
}