@using Derby.Infrastructure
@model IEnumerable<Derby.ViewModels.SentInvitationViewModel>

@if (!Model.Any())
{
    @:<br/><h4>You have not sent any invites.&nbsp;</h4>
}
else
{
    <table id="membership-invited" class="table table-hover tablesorter">
        <thead>
            <tr>
                <th class="header">Created Date</th>
                <th class="header hidden-sm hidden-xs">Expiration Date</th>
                <th class="header hidden-sm hidden-xs">Invited By</th>
                <th class="header">Invited Email</th>
                <th class="header">Pack</th>
                <th class="header"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.Pack.Id))
            {
                var status = "";
                if (item.CreatedDate.AddDays(item.ExpiryOffset) <= DateTime.Now)
                {
                    status = "active invite-expired";
                }
                
                <tr class="@status">
                <td><span>@item.CreatedDate.Date.ToString("MM/dd/yyyy")</span> <span class="hidden-sm hidden-xs">@item.CreatedDate.ToString("hh:mm tt")</span></td>
                <td class="hidden-sm hidden-xs">@item.CreatedDate.AddDays(item.ExpiryOffset).ToString("MM/dd/yyyy hh:mm tt")</td>
                <td class="hidden-sm hidden-xs">@item.InvitedBy.Email</td>
                <td>@item.InvitedEmail</td>
                <td>@item.Pack.Name</td>
                @if (item.Status == EmailStatus.Sent || item.Status == EmailStatus.Resent)
                {
                    <td class="invite-sent" title="Invite sent successfully - Click to resend"><i class="text-success fa fa-refresh"></i></td>
                }
                else if (item.Status == EmailStatus.Failed)
                {
                    <td class="invite-failed" title="Invite failed to send - Click to resend"><i class="text-danger fa fa-refresh"></i></td>
                }
                else if (item.Status == EmailStatus.Pending)
                {
                    <td class="invite-pending" title="Invite is pending in the queue"><i class="text-warning fa fa-circle-o-notch fa-spin"></i></td>
                }
                else if (item.Status == EmailStatus.Accepted)
                {
                    <td class="invite-pending" title="Invite has been accepted"><i class="text-warning fa fa-check"></i></td>
                }
                
            </tr>
            }
        </tbody>
    </table>
}