@using Derby.Infrastructure
@model Derby.Models.PackMembership

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>PackMembership</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Pack.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Raw(Model.Pack.Name)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.User.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.User.Email)
                    @Html.ValidationMessageFor(model => model.User.Email)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.AccessLevel, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.AccessLevel, new SelectList(Enum.GetValues(typeof(OwnershipType)), 0))
                    @Html.ValidationMessageFor(model => model.AccessLevel)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
