@model IEnumerable<Derby.Models.PackMembership>

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-hover ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pack.Name) - @Html.DisplayNameFor(model => model.Pack.Region)
            </th>
            <th>
                User Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessLevel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pack.Name) - @Html.DisplayFor(modelItem => item.Pack.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessLevel)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Membership", new { id = item.Id })" class="btn btn-xs btn-primary" title="Edit"><i class="fa fa-pencil"></i><span class="hidden-sm hidden-xs">&nbsp; Edit</span></a>

                <a href="@Url.Action("Details", "Membership", new { id = item.Id })" class="btn btn-xs btn-default" title="Details"><i class="fa fa-info"></i><span class="hidden-sm hidden-xs">&nbsp; Details</span></a>
                &nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Delete", "Membership", new { id = item.Id })" class="btn btn-xs btn-danger" title="Delete"><i class="fa fa-trash-o"></i><span class="hidden-sm hidden-xs">&nbsp; Delete</span></a>
            </td>
                
        </tr>
        }

    </table>
</body>
</html>
