@using Derby.Infrastructure
@using WebGrease
@model Derby.ViewModels.PackMembershipViewModel

@{
    ViewBag.Title = "Membership";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        <p>
            <a href="@Url.Action("Create", "Invitation", null)" class="modal-link btn btn-xs btn-success" title="Delete"><i class="fa fa-envelope"></i><span class="hidden-sm hidden-xs">&nbsp; Send New Invitation</span><span class="hidden-md hidden-lg">&nbsp; New Invite</span></a>
        </p>
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#memberships" role="tab" data-toggle="tab">Members by Pack</a></li>
            <li><a href="#invitations" role="tab" data-toggle="tab" id="inviteTab">Invites</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="memberships">
                @foreach (var pack in Model.Packs)
                {
                    var _pack = pack;
                    <h4>@Html.DisplayFor(modelItem => _pack.Name) - @Html.DisplayFor(modelItem => _pack.Region)</h4>
                    <table class="table table-hover ">
                        <tr>
                            <th>
                                User Name
                            </th>
                            <th>
                                Access Level
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.PackMemberships.Where(x => x.Pack.Id == pack.Id))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccessLevel)
                                </td>
                                <td>
                                    @if (pack.Membership.AccessLevel == OwnershipType.Owner || pack.Membership.AccessLevel == OwnershipType.Contributor)
                                    {
                                        <a href="@Url.Action("Edit", "Membership", new {id = item.Id})" class="btn btn-xs btn-primary icon-button-min" title="Edit"><i class="fa fa-pencil"></i><span class="hidden-sm hidden-xs">&nbsp; Edit</span></a>

                                        <a href="@Url.Action("Details", "Membership", new {id = item.Id})" class="btn btn-xs btn-default icon-button-min" title="Details"><i class="fa fa-info"></i><span class="hidden-sm hidden-xs">&nbsp; Details</span></a>
                                        @:&nbsp;
                                        @:&nbsp;
                                        @:&nbsp;
                                        <a href="@Url.Action("Delete", "Membership", new {id = item.Id})" class="btn btn-xs btn-danger icon-button-min" title="Delete"><i class="fa fa-trash-o"></i><span class="hidden-sm hidden-xs">&nbsp; Delete</span></a>
                                    }
                                </td>

                            </tr>
                        }

                    </table>
                }
            </div>
            <div class="tab-pane" id="invitations">
                
            </div>

        </div>
        @section Scripts {
            <script type="text/javascript">
                $(function () {
                    $('#inviteTab').click(function (e) {
                        e.preventDefault();
                        $('#invitations').empty();

                        $('#invitations').html('<p>Loading content...<i class="fa fa-cog fa-spin"></i></p>');
                        $(this).tab('show');
                        setTimeout(function () {
                            $.ajax({
                                url: "/invitation/sentinvitations",
                                cache: false,
                                type: "get",
                                dataType: "html",
                                success: function (result) {
                                    $("#invitations").html(result);
                                }
                            });
                        }, 2000);
                    });


                });
                $(document).ajaxSuccess(function () {
                    $("#membership-invited").tablesorter({ debug: false });
                });
            </script>
        }
        <script>
            //$(function() {

            //});
        </script>
    </body>
</html>
