@model Derby.ViewModels.ModifyHeatViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Heat</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.RaceId)
        @Html.ValidationMessageFor(model => model.RaceId)

        <div class="table-responsive">

            @{
                var grid = new WebGrid(Model.Racers, defaultSort: "Name");
            }

                @grid.GetHtml(tableStyle: "table table-hover tablesorter",
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    selectedRowStyle: "select",
                    columns: grid.Columns(
                     grid.Column(header: "MenuId", format: (item) => item.Scout.Name, style: "description"),
                     grid.Column(header: "Menu", format: (item) => item.CarNumber, style: "description", canSort: true),
                     grid.Column(header: "Print?", format: @<text><input name="Add" type="checkbox" value="@item.Id" /></text>)
                        )
                )
        </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
