@model Derby.ViewModels.ModifyHeatViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Heat", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-horizontal">
            <h4>Heat</h4>
            <hr />
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.RaceId)
            @Html.ValidationMessageFor(model => model.RaceId)
            <div class="col-sm-6">
                <div class="table-responsive">
                    <table id="dashboard-scouts" class="table table-hover tablesorter">
                        <thead>
                            <tr>
                                <th class="header">Select</th>
                                <th class="header">Name</th>
                                <th class="header">Car Number</th>
                                <th class="header"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.Racers)
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group panel-info">

                    <div class="list-group-item">
                        <span class="badge">@Model.HeatsNeeded</span>
                        <i class="fa fa-tasks"></i> Heats Needed
                    </div>
                    <div class="list-group-item">
                        <span class="badge">@Model.CurrentHeats.Count</span>
                        <i class="fa fa-calendar"></i> Total Heats
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
