@using System.Web.UI.WebControls
@model Derby.ViewModels.ModifyHeatViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>

@using (Html.BeginForm("Create", "Heat", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-horizontal">
            <h4>Heat</h4>
            <hr />
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.RaceId)
            @Html.ValidationMessageFor(model => model.RaceId)
            @Html.ValidationMessageFor(model => model.Racers)
            
            @Html.HiddenFor(model => model.Competition.LaneCount)
            @Html.HiddenFor(model => model.Competition.Id)
            @Html.HiddenFor(model => model.CompetitionId)

            <div class="col-sm-6">
                <div class="table-responsive">
                    <h4>Racers</h4>
                    <table id="dashboard-scouts" class="table table-hover tablesorter">
                        <thead>
                            <tr>
                                <th class="header">Select</th>
                                <th class="header">Lane <i class="fa fa-info-circle information" data-tip="Must be a number from 1 to 6. The upper limit is the number of lanes possible (@Model.Competition.LaneCount)"></i></th>
                                <th class="header">Name</th>
                                <th class="header">Car Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.Racers)
                        </tbody>
                    </table>
                </div>
                
                <br/>

                <div class="form-group">
                    @Html.LabelFor(model => model.TieBreaker, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.TieBreaker)
                        @Html.ValidationMessageFor(model => model.TieBreaker)
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
                <br/>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Race Info</h3>
                    </div>
                    <div>
                        <div class="list-group-item">
                            <span class="badge">@Model.Competition.LaneCount</span>
                            <i class="fa fa-road"></i> Number of Lanes
                        </div>
                        <div class="list-group-item">
                            <span class="badge">@Model.HeatsNeeded</span>
                            <i class="fa fa-tasks"></i> Heats Needed <i class="fa fa-info-circle information" data-tip="Calculated based on the number of Lanes and racers for the den. Each racer should race in each lane."></i>
                        </div>
                        <div class="list-group-item">
                            <span class="badge">@Model.CurrentHeats.Count</span>
                            <i class="fa fa-keyboard-o"></i> Heats Entered
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Race", new { competitionId = Model.Competition.Id }, new { @class = "btn btn-xs btn-default" })
</div>
