@model Derby.ViewModels.RunHeatViewModel

@{
    ViewBag.Title = "Run Heat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Heat</h4>
    <hr />
    <div class="row">
        <div class="form-horizontal col-sm-7">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CompetitionId)

            <div class="form-group">
                <div class="table-responsive">
                    <table id="dashboard-scouts" class="table table-hover tablesorter">
                        <thead>
                            <tr>
                                <th class="header col-sm-3">Scout</th>
                                <th class="header col-sm-1">Car Number</th>
                                <th class="header col-sm-1">Lane</th>
                                <th class="header col-sm-2">Place</th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.Contestants.OrderBy(x => x.Lane))
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class=" btn btn-xs btn-success" />
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            @{
    var heatNumber = 0;
    string row = "";
    string statusIcon = "";
    string rowTitle = "";
            }
            <table class="table table-hover table-responsive">
                <tr>
                    <th class="header col-sm-1"></th>
                    <th class="header col-sm-1">Heat</th>
                    <th class="header col-sm-1">Racers</th>
                </tr>
                @foreach (var heat in Model.CurrentHeats)
                {
                    row = "";
                    statusIcon = "";
                    rowTitle = "";
                    heatNumber++;
                    if (heat.Id == Model.Id)
                    {
                        row = "success";
                        statusIcon = "fa fa-arrow-circle-right";
                        rowTitle = "Active Heat";
                    }
                    if (heat.IsCompleted)
                    {
                        row = "text-muted";
                        if (heat.Id == Model.Id)
                        {
                            row = "success text-muted";
                        }
                        statusIcon = "fa fa-check";
                    }
                    if (heat.TieBreaker)
                    {
                        <tr class="" title=""></tr>
                    }

                    <tr class="@row" title="@rowTitle">
                        <td class="col-sm-1"><i class="@statusIcon"></i> </td>
                        <td class="col-sm-1">#@heatNumber </td>
                        <td class="col-sm-1">@heat.Contestants.Count()</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

<br/><br/><br/>
<div>
    @Html.ActionLink("Back to Competiton", "Details", "Competition", new { id = Model.CompetitionId}, new {@class = "btn btn-xs btn-default"})
</div>
