@model Derby.Models.Den

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Den</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackId)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Den", new { id = Model.Id })" class="btn btn-xs btn-primary" title="Edit"><i class="fa fa-pencil"></i></a> |
    @Html.ActionLink("Back to Pack Details", "Index", "Pack", new { id = Model.PackId }, new { @class = "btn btn-xs btn-default" })
</p>
