@using Microsoft.AspNet.Identity
@model IEnumerable<Derby.ViewModels.PackViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Derby</h1>
    <p class="lead">A <em>community</em> tool for managing Pinewood Derby competitions</p>
@if (!Request.IsAuthenticated)
{  
    <p><a href="/login/" class="btn btn-primary btn-large">Log In To Get Started &raquo;</a></p>
}
else
{
    <p><a href="/pack/create/" class="btn btn-primary btn-large">Register a Pack &raquo;</a></p>
}
</div>

<div class="row">

    <h2>Registered Packs</h2>
    @foreach (var pack in Model)
    {
    <div class="col-sm-2">
        @if (!Request.IsAuthenticated)
        {
            <h4>@pack.Name</h4>
        }
        else
        {
            <h4>@Html.ActionLink(pack.Name, "info", "pack", new {id = pack.Id}, pack.Name)</h4>
        }
        <div>@pack.Region</div>
        @if (pack.Dens != null && pack.Dens.Where(x => x.IsSystemPlaceholder == false).ToList().Any()) 
        { 
            <div>Dens - @pack.Dens.Count(x => x.PackId == pack.Id && x.IsSystemPlaceholder == false)</div>
        }
        else
        {
            <div>No Dens yet</div>
        }
        @if (pack.Scouts != null && pack.Scouts.Any())
        {
            <div>Scouts - @pack.Scouts.Count(x => x.PackId == pack.Id)</div>
        }
        else
        {
            <div>No Scouts yet</div>
        }
    </div>
    }

</div>