@model Derby.ViewModels.RacerContestantViewModel
<tr>
    <td>
        @Html.CheckBoxFor(model => model.Selected)
        @Html.HiddenFor(model => model.RacerId)
    </td>
    <td>@Html.TextBoxFor(model => model.Lane, new { @style = "width: 40px;" })</td>
    <td>@Html.DisplayFor(model => model.ScoutName)</td>
    <td>@Html.DisplayFor(model => model.CarNumber)</td>
    
</tr>
